/***
 *
 */
@mixin makeFlexContainer($c_just, $al_item, $direction, $backGround){
  display: flex;
  justify-content: $c_just;
  align-items: $al_item;
  flex-direction: $direction;
  background: $backGround;
}


