/***
 *
 */
@mixin makeFlexContainer($c_just, $al_item, $direction,  $opacity){
  display: flex;
  justify-content: $c_just;
  align-items: $al_item;
  flex-direction: $direction;
  //opacity: $opacity;
  filter: blur($opacity);
}
