@use './_essentials.scss' as *;
@use './_variables.scss' as *;


/***
 * Global initializers
 */
*{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body{
  height: 100vh;
}


/***
 * Set up page content
 */
.page{
  @include makeFlexContainer(flex-start, center, column, 10%);
  height: $screen_height;
  width: $screen_width;
  margin: 0;
  padding: 0;


  .header{
    width: $screen_width;
    min-height: 250px;
    flex: 0 0 25%;
    display: flex;
    justify-content: center;


    .header_background{
      min-height: 250px;
      height: $header_height;
      width: 100%;
      position: absolute;
      background: rgb(29, 46, 63);
      filter: blur(7px);
      background-size: $screen_width 100%;

    }
  }
}



.content{
  width: $screen_width;
  flex: 0 0 100%;
  background: url('./city.jpg') no-repeat;
  background-position-x: center;
  background-position-y: center;


  .open{
    animation: makeActive 1s forwards;
  }

  .close{
    clip-path: circle(0%);
  }

  @keyframes makeActive {
    0%{
      clip-path: circle(  3% at   (left + right)/2  px  (height + top)/2  px )
    }
    100%{clip-path: circle(100%)}

  }

  .btn_0{
    //filter: drop-shadow(30px 100px 4px #ff8181);
    background: url('./city.jpg');
    background-size: 150px;
  }

  .btn_1{
    //filter: drop-shadow(30px 100px 4px #4444dd);
    background: url('./desert_1.jpg');
    background-size: 220px;
  }

  .btn_2{
    //filter: drop-shadow(30px 100px 4px #4444dd);
    background: url('./space.jpg');
    background-size: 150px;

  }


  .nav-bar{
    width: 100%;
    background: none;
    @include makeFlexContainer(center, center, row, 100%);
    filter: drop-shadow(0 0 1rem #000000);
    transition: all 1s;
  }

  li{
    flex: 0 0 100px;
    height: 100px;
    -webkit-clip-path: circle(49.5% at 50% 50%);
    clip-path: circle(49.5% at 50% 50%);
    transition: all 0.5s ease-in-out;
    margin: 2% 7px;


    &:hover{
      transform: scale3d(1.5, 1.5, 1.5);
      margin: 0 2%;
    }

    &:focus{
      transform: scale(20);
      margin: 0 3%;
    }

  }

}

