@use './_essentials.scss' as *;
@use './_variables.scss' as *;


/***
 * Global initializers
 */
*{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body{
  height: 100vh;
}


/***
 * Set up page content
 */
.page{
  @include makeFlexContainer(flex-start, center, column, 'url(\'./snow-btn.jpg\')');
  height: $screen_height;
  width: $screen_width;
  margin: 0;
  padding: 0;
  background: url('./snow-btn.jpg');
}

.header{
  width: $screen_width;
  min-height: 250px;
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  background: url('./snow-btn.jpg');


  .nav-bar{
    width: 100%;
    backdrop-filter: blur(10px);
    @include makeFlexContainer(center, center, row, 'url(\'./snow-btn.jpg\')');
  }

  li{
    flex: 0 0 100px;
    height: 100px;
    -webkit-clip-path: circle(49.5% at 50% 50%);
    clip-path: circle(49.5% at 50% 50%);
    transition: all 0.5s ease-in-out;
    margin: 0 5px;


    &:hover{
      transform: scale3d(1.5, 1.5, 1.5);
      margin: 0 2%;
    }

    &:focus{
      transform: scale(20);
      margin: 0 3%;
    }

  }

  .btn_0{

    background: url('./snow-btn.jpg');
    background-size: 150px;
  }

  .btn_1{

    background: url('./desert_1.jpg');
    background-size: 220px;
  }

  .btn_2{

    background: url('./city.jpg');
    background-size: 150px;
  }
}

.content{
  width: $screen_width;
  flex: 0 0 60%;
  background-color: green;

}

.footer{
  width: $screen_width;
  flex: 0 0 15%;
  background-color: yellow;

}

